/* CSS Document */

body {
  background-color: lightgrey;
  color: yellow;
}

h1 {
  background-color: black;
color: white;
}
body {
 background-image: url("slike/30.jpg");
 background-color: #cccccc;
}

p { color: green;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
font-size: 16px;
line-height: 18px;
width: 600px; 
background-color: antiquewhite;
padding: 20px;


}

img {
   
    width:  auto;
    height: auto;
    object-fit: cover;
}

ul.nav {
  padding-left: 0px;
  background-color: antiquewhite;
  text-align: left;
}
ul.nav > li {
  display: inline-block;
  padding: 20px 30px;
}
ul.nav > li:hover {
  background-color: #D6DBDF;
}
ul.nav > li > a {
  color: black;
  text-decoration: none;
}
a:link {
		color: black;
		background-color: white;
		padding: 5px;
		line-height: 20px;
		border: 1px solid #D6DBDF ;
		
	}
	a:hover{
		background-color: darkgray;
		
	}
	img {
		
		height: 200px;
		
	}