/* CSS Document */

body {
 background-image: url("slike/999.jpg");
 background-color: #cccccc;
}



img {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

ul.nav {
  padding-left: 0px;
  background-color: antiquewhite;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 20px 30px;
}
ul.nav > li:hover {
  background-color: #D6DBDF;
}
ul.nav > li > a {
  color: black;
  text-decoration: none;
}
a:link {
		color: black;
		background-color: white;
		padding: 5px;
		line-height: 20px;
		border: 1px solid #D6DBDF ;
		
	}
	a:hover{
		background-color: darkgray;
		
	}
	img {
		
		height: 200px;
		
	}